/* import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Major+Mono+Display&family=Rajdhani:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}
/*body font and color*/
body {
    font-family: 'Rajdhani', sans-serif;
    color:grey;

}


/* headings and logo */
#logo {
    float:left;
    font-size: 170%;
    color:rgb(53, 46, 104);
    margin-left:30px;
    letter-spacing: 1px;
    font-family: 'Major Mono Display', monospace, sans-serif;
}
#menu {
    font-size: 170%;
    
}
#menu, #logo {
    line-height: 60px;

}
#menu li {
    float:right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color:inherit;
    font-weight: 900;
}
#menu a:hover {
    color:rgb(89, 8, 182);
}

/* hero-image and cover text*/

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}
#cover-text, #cover-text h2 {
    color:rgba(51, 46, 46, 0.478);
}

/*fixing hero image and creating some zoom effect for page */
#hero-image {
    height: 800px;
    width: 100%;
    background: url('../css/images/yacht.jpeg') no-repeat center center;
    position: relative;

    /* animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero-image */

@keyframes hero-zoom {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
}

#cover-text {
    font-size:130%;
    text-transform: uppercase;
    letter-spacing:5px;

    width:300px;
    height:200px;

    padding-top:40px;
    padding-left:10px;

    background-color:rgba(239, 239, 240, .7);

/*cover text container styling*/
    border-style: double;
    border-color: rgb(66, 173, 137);
    border-radius: 15px;
/*positioning */
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/* why choose us */
#about-us {
    height:600px;
}
#left-about {
    padding-top:30px;
    width:33%;
    float:left;
}
#right-about {
    padding-top:30px;
    width:33%;
    float:right;
}
#center-about {
    width:33%;
    margin:0 auto;

}
hr {
    
    width:100%;
    margin:5px 0;
}
.left-about-heading {
    width:60%;
    float:right;
    line-height:20px;
    clear:both;
    margin-bottom: 50px;
} 
.right-about-heading {
    width:60%;
    float:left;
    line-height:20px;
    clear:both;
    margin-bottom: 50px;
} 
.right-about-heading h2 {
    text-align: right;
}
.right-about-heading p {
    text-align:right;
}
#welcome {
    text-align: center;
    margin:20px 0;
    font-size: 180%;
}
/* why choose coming with us section (center image) */

#circle-container {
    width:300px;
    height: 300px;
    padding:10px;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    
}

#image-container {
    background: url("../css/images/welcome-image1.jpg")no-repeat center center;
    height: 100%;
    background-size: cover;
    
}

/*Common attributes for bookexperience items*/
.price {
    color:black;

}
button {
    font-size:large;
    text-align: center;
    

}
button:hover {
    color:white;


}

/*story-about*/

/*book your experience services*/
.row {
    display:flex;

}


.column {
    flex: 33.33%;
    padding: 5px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column2 {
    flex: 33.33%;
    padding: 5px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.offert-one {
    
    text-align: center;
}
.offert-two {
   
    text-align: center;
}
.offert-three {
    
    text-align: center;
}
.offert-four {
    text-align: center;
}
/*section before footer */
.story-about-text {
    text-align: center;
    font-size: 90%;
    padding-top: 0;
    background-color: aliceblue;
}
.story-about-text p {
    font-size:120%;
    color:rgb(114, 107, 97);
}

/* Footer */

footer {
    height:150px;

}
.social-media {
    text-align: center;
}
.social-media  > li {
    display: inline;
}
.social-media i {
    font-size:190%;
    margin:1%;
    padding:5%;

}

/*gallery styling*/

#photos {
    clear:both;
    line-height:0;
    column-count:4;
    column-gap:0;

}
#photos > img {
    width:100%
}

/*Media queries*/

/*For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    
}




/*Form */

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid rgb(209, 162, 162);
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
  
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}



/*contact form for review chestionaire */

#contact-form {
    margin-top: 50px;
}

.gallery-form {
    background-color:rgba(98, 95, 91, 0.8);
    font-size:900;
    color:rgb(20, 7, 19);
    letter-spacing: 1px;
    bottom:150px;
    left:35%;
    font-weight: 600;
    position:absolute;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.gallery-form h2 {
    text-align: center;
}


/*checkout container and form */
#checkout-container {
    position: relative;
   
}
.checkout-form {
    background-color:rgba(89, 120, 134, 0.8);
    font-size:900;
    color:rgb(20, 7, 19);
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 15px;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.checkout-form h2 {
    text-align: center;
}
.button {
    text-align: center;
}

/* second page cover text */

#cover-text-two {
    font-size:130%;
    text-transform: uppercase;
    letter-spacing:5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}